.header__nav {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #797876;
  margin-left: 25px;
  height: 27px;
  cursor: pointer;
}


.header__nav:nth-child(1) {
  margin-left: 0;
}
